#nav-img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}


#nav-headFont{
	margin-top: 10px;
	font-size: 150%;;
}
#nav-title{
	font-size: 300%;
	margin-left: 30px;
        margin-bottom: 15px;
	font-style: bold;
	margin-top: 10px;
}

/*navigation sidebar*/



.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #516673;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #bdbebf;
    display: block;
    margin: 10px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
  
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*custom sidebar nav*/

#bodyparagraph {
}

