<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::header (pageTitle='grade')">
</head>
<body>
<div class="wrapper">
    <!--Sidebar Holder-->
    <div th:replace="fragments/sidemenu::sidemenu"></div>

    <!-- Page Content Holder -->
    <div id="content">
        <div th:replace="fragments/topmenu::topmenu"></div>

        <div class="container">
            <h1>Grade List</h1>
            <table class="table table-hover table-bordered">
                <thead>
                <tr>
                    <th>S/NO.</th>
                    <th>Grade Name</th>
                    <th>Section</th>
                    <th>Class Teacher</th>
                    <th>Grade Description</th>
                    <th colspan="2">Action</th>
                </tr>
                </thead>
                <tr th:each="grd,iterator : ${grades}">
                    <td th:text="${iterator.count}">1</td>
                    <td th:text="${grd.gradeName}">Nursery</td>
                    <td th:text="${grd.gradeSection}">A</td>
                    <td th:text="${grd.teacher.firstName} + '  ' + ${grd.teacher.lastName} ">A</td>
                    <td th:text="${grd.gradeDescription}">Grade Description !!</td>
                    <td>
                        <a class="btn btn-primary center-block" href="#" th:href="@{${'/grade/gradedetails/edit/' + grd.id}}">Edit</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger center-block" href="#" th:data-href="@{${'/grade/gradedetails/delete/' + grd.id}}" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                        <!-- Modal HTML -->
                        <div id="confirm-delete" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE5CD;</i>
                                        </div>
                                        <h4 class="modal-title">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger btn-ok">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
<script th:inline="javascript">
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
</body>
</html>