<!DOCTYPE html>
<html xmlns:th="org.thymeleaf.org">
<head th:replace="fragments/header::header (pageTitle='User List')">
</head>

<body>
<div class="wrapper">
    <!--Sidebar Holder-->
    <div th:replace="fragments/sidemenu::sidemenu"></div>

    <!-- Page Content Holder -->
    <div id="content">
        <div th:replace="fragments/topmenu::topmenu"></div>

        <div class="container">
            <h3>User List</h3>

            <table class="table table-bordered table-striped">
                <tr>
                    <th>S/No.</th>
                    <th>Name</th>
                    <th>User Type</th>
                    <th>Email ID</th>
                    <!--<th>Password</th>-->
                    <th>Contact No</th>
                    <th>Active</th>
                    <th colspan="2">Action</th>
                </tr>
                <tr th:each="user,iterator : ${users}">
                    <td th:text="${iterator.count}">1</td>
                    <td th:text="${user.name}">Shagar</td>
                    <td th:text="${user.userType}">ADMIN</td>
                    <td th:text="${user.emailId}">shagar.upadhyay@gmail.com</td>
                    <!--<td th:text="${user.password}">shagar123</td>-->
                    <td th:text="${user.contactNo}">9851136126</td>
                    <td th:text="${user.active?'Yes':'No'}">Yes</td>

                    <td>
                        <a class="btn btn-primary center-block" href="#" th:href="@{${'/identity/user/edit/' + user.id}}">Edit</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger center-block" href="#" th:data-href="@{${'/identity/user/delete/' + user.id}}" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                        <!-- Modal HTML -->
                        <div id="confirm-delete" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-confirm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="icon-box">
                                            <i class="material-icons">&#xE5CD;</i>
                                        </div>
                                        <h4 class="modal-title">Are you sure?</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Do you really want to delete these records? This process cannot be undone.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger btn-ok">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>
<footer th:replace="fragments/footer::footer"></footer>
<script th:inline="javascript">
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
</script>
</body>
</html>